<header class="site-header">
  <article>
		<h1><a href="/">{{site.title}}</a></h1>
    <p>I'm the Senior Engineering Manager of Performance at <a href="http://www.etsy.com/">Etsy</a> and the author of <em><a href="http://designingforperformance.com">Designing for Performance</a></em>. Follow me on <a href="http://twitter.com/lara_hogan">Twitter</a>, read my <a href="/blog/">blog</a>.</p>
    <p>I champion performance as a part of the overall user experience, striking a balance between aesthetics and speed, and building performance into company culture. I also believe it's important to celebrate career achievements with <a href="/donuts/">donuts</a>.</p>
	</article>
</header>
